.container{
    background-color:lightgray;
    width:350px;
    height:500px;
    padding-bottom:12px;
    padding-top:12px;
    padding-left:12px;
    padding-right:12px;
}

.container img{
    margin-left: 22px;
    width:300px;
    height:60%;
}
.container .info h4{
    margin-left:22px;
    margin-top:0;
    font-family:'Times New Roman', Times, serif;
}
.container .info{
   height:160px;
   width:300px;
   border-left: 10px;
   padding-top:15px;
   margin-left:22px;
   background-color: white;
   padding-bottom: 8px;
}
.container .info p{
    margin-left:22px;
}
.container .info button{
    margin-left:92px;
    margin-top:10px;
    transition: background 3s , color 3s;
    padding:10px;
    background-color: lightgray;
    color:white;
    border:none; 
    border-radius:5px;
}
.container .info button:hover{
    background-color: purple;
    color:black;
}
@media (min-width:380px) and (max-width:600px){
    .container{
        width:300px;
        height:450px;
    }
    .container img{
        width:250px;
        height:55%;
        margin-left:12px;
    }
    .container .info{
        width:250px;
        height:140px;
        margin-left:12px;
    }
    .container .info h4{
        margin-left:12px;
    }
    .container .info p{
        margin-left:12px;
    }
    .container .info button{
        margin-left:72px;
    }
}