/*specificity:/0-1-1==11/*/
.parent h1{                        /*parent-child selector*/
    color:orange;
}
/*specificity:/0-0-2==2/*/
div h1{
    color:purple;
}
/*specificity:/0-0-1==1/*/
h1{                                /*element selector*/
    color:blue;
    text-align: center;
}
/*specificity:/1-0-0==100/*/
#green{                            /*id selector*/
    color:rgb(55, 95, 55);
}
/*specificity:/0-1-0==10/*/
.red{                             /*class selector*/
    color:red;
}
/*specificity:/0-1-1==11/*/
h1:hover{                        /*pseudo-class selector*/
    color:plum;
}
/*specificity:/1-0-1==101/*/     /*specificity is higher than #green so it is overrided*/
#green:hover{
    color:black;
}
/*specificity:/0-2-1==21/*/
.nested h1{
    color:pink;
}
/*specificity:/0-2-2==22/*/
.nested div h1{
    color:yellow;
}
/*specificity:/0-2-3==23/*/
.nested div div h1{
    color:green;
}
/*specificity:/0-2-4==24/*/
.nested div div div h1{
    color:brown;
}
/*specificity:/0-1-0==10/*/ 
.box{
        background-color:rgb(156,83,220);
        color:white;
}
button{
    background-color: yellowgreen;
    color: white;
    padding: 30px;
    border: 4px solid black;
    margin:50px;
    border-radius:9px;
}
button:hover{
    background-color: black;
}