.container{
    background-color:lightgray;
    width:350px;
    height:500px;
    padding-bottom:12px;
    padding-top:12px;
    padding-left:12px;
    padding-right:12px;
}

.container img{
    margin-left: 22px;
    width:300px;
    height:60%;
}
.container .info h4{
    margin-left:22px;
    margin-top:0;
    font-family:'Times New Roman', Times, serif;
}
.container .info{
   height:160px;
   width:300px;
   border-left: 10px;
   padding-top:15px;
   margin-left:22px;
   background-color: white;
   padding-bottom: 8px;
}
.container .info p{
    margin-left:22px;
}
.container .info button{
    margin-left:92px;
    margin-top:10px;
    padding:10px;
    background-color: lightgray;
    color:white;
    border:none;
    border-radius:5px;
}