@import 'tailwindcss';

/* Global black background to persist across all pages */
html, body {
	margin: 0;
	min-height: 100%;
	background-color: #000;
	overflow-x: hidden; /* prevent horizontal scroll */
}

#root {
	min-height: 100vh;
	background-color: #000;
}
